.DS_Store
__pycache__/
*.pyc
*.pth
*.log


/audioRecordings/*
!/audioRecordings/.gitkeep
!/audioRecordings/goodbye-38072.mp3
!/audioRecordings/hello-46355.mp3
!/audioRecordings/thank-you-99932.mp3
!/audioRecordings/welcome-to-paradise-96902.mp3
!/audioRecordings/welcome-traveler-97167.mp3

/logs/*
!/logs/.gitkeep
